<!DOCTYPE html>
{% set html_lang = grav.language.getActive ?: grav.config.site.default_lang %}
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="{{ html_lang }}"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ html_lang }}"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />

        {% block stylesheets %}
            {% do assets.addCss('theme://assets/css/main.css') %}
        {% endblock %}

        {% block javascripts %}
            {% do assets.add('jquery',101) %}
            {% do assets.addJs('theme://assets/js/skel.min.js') %}
            {% do assets.addJs('theme://assets/js/util.js') %}
            {% do assets.addJs('theme://assets/js/main.js') %}
        {% endblock %}

        <!--[if lte IE 8]><script src="{{ url('theme://assets/js/ie/html5shiv.js') }}"></script><![endif]-->

        {% if site.calendar %}
           <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
       {% endif %}

       <!--[if lte IE 8]><script src="{{ url('theme://assets/js/ie/respond.min.js') }}"></script><![endif]-->
       <!--[if lte IE 8]><script src="{{ url('theme://assets/css/ie8.css') }}"></script><![endif]-->

       {% if site.calendar %}
        <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker({
                hideIfNoPrevNext: true
            });
        });
        </script>
    {% endif %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
        {% endblock %}

    {% endblock head%}
</head>

<body class="{{ site.sidebar_position }}-sidebar">
    <div id="wrapper">
        {% block body %}
            <div id="content">
                <div class="inner">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
        {% endblock %}

    </div>

    {{ assets.js('bottom')|raw }} 
</body>
</html>
